<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>天命</title>
    <link rel="stylesheet" type="text/css" href="https://www.weedxu.com/resource/css/tianming-normalize.css" />
    <link rel="stylesheet" type="text/css" href="https://www.weedxu.com/resource/css/tianming-demo.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="https://www.weedxu.com/resource/css/tianming-component.css" />
    <!--[if IE]>
    <script src="https://www.weedxu.com/resource/js/tianming-html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box" style="top:30%;left:3%;right:3%;margin-left:3%;width: auto">
                <h3 th:text="${gua}"></h3>
                <h3 th:text="${guaxiang}"></h3>
                <h5 th:text="${guaci}" style="font-size: 0.99em"></h5>
                <h3 th:text="${yao}"></h3>
                <h5 th:text="${yaoci}"></h5>

            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="https://www.weedxu.com/resource/js/tianming-TweenLite.min.js"></script>
<script src="https://www.weedxu.com/resource/js/tianming-EasePack.min.js"></script>
<script src="https://www.weedxu.com/resource/js/tianming-rAF.js"></script>
<script src="https://www.weedxu.com/resource/js/tianming-demo-1.js"></script>
<div style="text-align:center;">

</div>
</body>
</html>